In [19]:
# pip install mysql-connector-python

In [20]:
import mysql.connector

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="dpm@12345"
)

cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS testdbsql")

## Creating a table

In [21]:
import mysql.connector
connection=mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="dpm@12345", 
    database="testdbsql"
)
cursor=connection.cursor()
qry='''
CREATE TABLE IF NOT EXISTS Employee (
EmpID INTEGER PRIMARY KEY AUTO_INCREMENT,
FIRST_NAME VARCHAR (20),
LAST_NAME VARCHAR (20),
AGE INTEGER,
GENDER VARCHAR(1),
INCOME FLOAT
);
'''
try:
   cursor.execute(qry)
   print ('Table created successfully')
except:
   print ('error in creating table')
   
# connection.close()

Table created successfully

# Inserting data into a table

In [22]:
qry="""INSERT INTO Employee(
   FIRST_NAME, LAST_NAME, AGE, GENDER, INCOME)VALUES
   ('Rohan', 'Rai', 19, 'M', 40000);"""

try:
   cursor.execute(qry)
   connection.commit()
   print ('Record inserted successfully!')
except:
   connection.rollback()
   print ('Error in INSERT operation')

Record inserted successfully!

In [23]:
qry="""INSERT INTO EMPLOYEE
      (FIRST_NAME, LAST_NAME, AGE, GENDER, INCOME)VALUES
      (%s, %s, %s, %s, %s);"""
try:
   cursor.execute(qry, ('Mina', 'Deo', 20, 'F', 60000))
   connection.commit()
   print ('Record inserted successfully')
except Exception as e:
   connection.rollback()
   print ('error in INSERT operation')

Record inserted successfully

In [24]:
qry="SELECT * FROM EMPLOYEE"

try:
   # Execute the SQL command
   cursor.execute(qry)
   # Fetch all the rows in a list of lists.

   results = cursor.fetchall()
   print(results); print()
   
   for col in results:
      fname = col[1]
      lname = col[2]
      age =col[3]
      gender = col[4]
      income = col[5]

      # Now print fetched result
      print ("fname={}, lname={}, age={}, gender={}, income={}".format(fname, lname, age, gender, income))
    
except Exception as e:
   print (e)
   print ("Error: unable to fecth data")

[(1, 'Rohan', 'Rai', 19, 'M', 50000.0), (2, 'Mina', 'Deo', 20, 'F', 60000.0), (3, 'Rohan', 'Rai', 19, 'M', 40000.0), (4, 'Mina', 'Deo', 20, 'F', 60000.0)]

fname=Rohan, lname=Rai, age=19, gender=M, income=50000.0
fname=Mina, lname=Deo, age=20, gender=F, income=60000.0
fname=Rohan, lname=Rai, age=19, gender=M, income=40000.0
fname=Mina, lname=Deo, age=20, gender=F, income=60000.0

In [25]:
qry="UPDATE EMPLOYEE SET INCOME = INCOME+10000 WHERE INCOME=%s"

try:
   # Execute the SQL command
   cursor.execute(qry, (40000,))
   connection.commit()
   print ("Records updated")
except Exception as e:
   print ("Error: unable to update data", e)

Records updated

In [26]:
qry="DELETE FROM EMPLOYEE WHERE INCOME<%s"

try:
   # Execute the SQL command
   cursor.execute(qry, (70000,))
   connection.commit()
   print ("Records deleted.")
except Exception as e:
   print ("Error: unable to delete data", e)

connection.close()

Records deleted.