pandas Series and NumPy Arrays Basics
1. Import the pandas and NumPy libraries as `pd` and `np`, respectively.
2. Convert the `products` list into a pandas Series object named `products_series`.
3. Display the content of `products_series`, then display its type.
4. Convert the `prices_usd` list into a NumPy array named `prices_usd_array`.
5. Display the content of `prices_usd_array`, then display its type.

In [2]:
products = ['laptop', 'smartphone', 'tablet', 'monitor', 'keyboard']
prices_usd = [1200, 800, 450, 300, 50]

# 1. Import the pandas and NumPy libraries as pd and np, respectively.
import pandas as pd
import numpy as np

# 2. Convert the products list into a pandas Series object named products_series.
product_series = pd.Series(products)

# 3. Display the content of products_series, then display its type.
print(product_series)
print(type(product_series))

# 4. Convert the prices_usd list into a NumPy array named prices_usd_array.
prices_usd_array = np.array(prices_usd)

# 5. Display the content of prices_usd_array, then display its type.
print(prices_usd_array)
print(type(prices_usd_array))

0        laptop
1    smartphone
2        tablet
3       monitor
4      keyboard
dtype: object
<class 'pandas.core.series.Series'>
[1200  800  450  300   50]
<class 'numpy.ndarray'>

Assume the given Python list provides the number of units sold for various products.
1. Store the units_sold list as a pandas Series object named units_sold_series.
2. Assign it the following name: "Number of Units Sold per Product".
3. Display the name of units_sold_series.
4. Display the size of units_sold_series.
5. Display the content of units_sold_series.
6. Convert units_sold_series into a NumPy array and store it in a variable named units_sold_array. Display the units_sold_array.
7. Display the type of the units_sold_array variable.

In [ ]:
import pandas as pd
import numpy as np

units_sold = [100, 130, 86, 97, 43]

# 1. Store the units_sold list as a pandas Series object named units_sold_series.
units_sold_series = pd.Series(units_sold)

# 2. Assign it the following name: "Number of Units Sold per Product".
units_sold_series.name = "Number of Units Sold per Product"

# 3. Display the name of units_sold_series.
print(units_sold_series.name)

# 4. Display the size of units_sold_series.
print(units_sold_series.size)

# 5. Display the content of units_sold_series.
print(units_sold_series)

# 6. Convert units_sold_series into a NumPy array and store it in a variable named units_sold_array.
# Display the units_sold_array.
units_sold_array = units_sold_series.to_numpy()
print(units_sold_array)

# 7. Display the type of the units_sold_array variable.
print(type(units_sold_array))

## Convert Employee Salary Data from Dictionaries to pandas Series
Consider the given Python dictionary, containing the names and monthly salaries of five employees.
1. Convert the Python dictionary into a pandas Series object named emp_monthly_salaries_usd_series.
2. Display the content of emp_monthly_salaries_usd_series to verify that the dictionary's keys have turned into the index of the newly created pandas Series object, while its values have remained as the Series values.
3. Display only the index of emp_monthly_salaries_usd_series.

In [3]:
import pandas as pd

emp_monthly_salaries_usd = {
    "Alice Johnson": 5000,
    "Bob Smith": 4500,
    "Carol Davis": 5200,
    "David Brown": 4800,
    "Eve Wilson": 4700
}

# 1. Convert the Python dictionary into a pandas Series object named emp_monthly_salaries_usd_series.
emp_monthly_salaries_usd_series = pd.Series(emp_monthly_salaries_usd)

# 2. Display the content of emp_monthly_salaries_usd_series
# to verify that the dictionary's keys have turned into the index and values remain the same.
print(emp_monthly_salaries_usd_series)

# 3. Display only the index of emp_monthly_salaries_usd_series.
print(emp_monthly_salaries_usd_series.index)

Alice Johnson    5000
Bob Smith        4500
Carol Davis      5200
David Brown      4800
Eve Wilson       4700
dtype: int64
Index(['Alice Johnson', 'Bob Smith', 'Carol Davis', 'David Brown',
       'Eve Wilson'],
      dtype='object')

Verifying Index Types
1. Convert integers_array into a pandas Series object named integers_series.
2. Use Python indexing to quickly verify that the index values of integers_series are composed of integers. Display the output using the print() function.

In [ ]:
import numpy as np
import pandas as pd

integers_array = np.array([456, 12, 325, 100])
print(integers_array)

# 1. Convert integers_array into a pandas Series object named integers_series.
integers_series = pd.Series(integers_array)

# 2. Use Python indexing to quickly verify that the index values of integers_series are composed of integers.
# Display the output using the print() function.
# print(integers_series.index)
print(type(integers_series.index[0]))

Getting Started with Basic pandas Series Methods
1. Convert the salaries_dict dictionary into a pandas Series called monthly_salaries_usd_series. Name the Series "Monthly Salaries ($)".
2. Display the content of monthly_salaries_usd_series.
3. Use a pandas method to obtain the highest salary value stored in the Series.
4. Use a pandas method to retrieve the name of the person with the lowest monthly salary.
5. Use a pandas method to display the top five rows from the Series.
6. Use a pandas method to display the last three rows from the Series.

In [ ]:
import pandas as pd

salaries_dict = {
    "John Doe": 5200,
    "Jane Smith": 4800,
    "Michael Roberts": 5000,
    "Emily Davis": 5300,
    "Chris Green": 4600,
    "Jessica Wilson": 4950,
    "Daniel Kim": 5100,
    "Sophia Martinez": 4700
}

# 1. Convert the salaries_dict dictionary into a pandas Series called monthly_salaries_usd_series.
# Name the Series "Monthly Salaries ($)".
monthly_salaries_usd_series = pd.Series(salaries_dict, name="Monthly Salaries ($)")

# 2. Display the content of monthly_salaries_usd_series.
print(monthly_salaries_usd_series)

# 3. Use a pandas method to obtain the highest salary value stored in the Series.
print(monthly_salaries_usd_series.max())

# 4. Use a pandas method to retrieve the name of the person with the lowest monthly salary.
print(monthly_salaries_usd_series.idxmin())

# 5. Use a pandas method to display the top five rows from the Series.
print(monthly_salaries_usd_series.head(5))

# 6. Use a pandas method to display the last three rows from the Series.
print(monthly_salaries_usd_series.tail(3))

Creating a DataFrame in Four Different Ways
Create and display the following pandas DataFrame, which includes employee names and their monthly salaries:Try solving the exercises in four different ways (providing just one correct answer will mark your attempt as successful):
1. By using a dictionary of lists.
2. By using a list of dictionaries.
3. By using a dictionary of pandas Series (named names and monthly_salary).
4. By using a list of lists.

Hint: Note that solutions 2, 3, and 4 are provided as comments. You donâ€™t need to include all four solutions to earn your XP, submitting one is sufficient.

How Unique Can a Value from a pandas Series Be?
1. Load the "Region-exercise.csv" file and use the .squeeze("columns") method or .squeeze(1) to ensure that any single-column DataFrame is converted into a Series. Store the result in a variable named data.
2. Copy the data into a new variable called region_data.
3. Verify the type of the region_data variable.
4. Use the .describe() method to obtain descriptive statistics on the region_data Series.
5. Find the number of unique values in the region_data Series.
6. Retrieve all unique values from the region_data Series as a NumPy array.
Hint: Use the print() function to display the desired output in steps 3 through 6.